html body {
    margin: 0;
    height: 100%;
}

.header {
    padding: 15px 0;
    background-color: #ffffff;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: opx solid green;
}

.logo-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid gray;
    width: 80%;
    margin: 30px;
}

.logo-content img{
    border: solid 0px #42515f;
    width: 10%;
    
    }
.right-side {
    padding: 50px;
}

.emp-text {
    font: normal normal bold 20px/25px Montserrat;
    font-family: "Monsterrat", sans-serif;
    letter-spacing: 0px;
    color: #82a70c;
    text-transform: capitalize;
}

.emp-payroll { color: #42515f; }
* { box-sizing: border-box;}

.main-content {
    display: flex;
    flex-direction: column;
    min-height: calc(10vh - 80px);
    background-color: #f7f7f7;
    padding: 5px 0 10px;
    box-sizing: border-box;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 25px;
}

.emp-detail-text {
    font: normal normal bold 24px/25px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    opacity: 1;
    padding-left: 30px;
}
.emp-count {
    background-color: #82a70c;
    color: #ffffff;
    border-radius: 42%;
    font-size: 16px;
    width: 26px;
    text-align: center;
    display: inline-block;
}

.add-button {
    font: normal normal normal bold 22px/29px Robot;
    letter-spacing: 30px;
    color: green;
    opacity: 1;
    background: #82a70c 30% 30% no-repeat padding-box;
    border: none;
    cursor: pointer;
    text-decoration: none;

}

.user-content img {
    border: solid 0px #42515f;
    width: 20%;
    margin-left: 10;
    
    
}
